<h1>Restaurants</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><h3><%= restaurant.name %></h3></li>
  <p><em><%= restaurant.category.capitalize %></em></p>
  <p><%= restaurant.address %>, <%= restaurant.phone_number %> </p>
  <%= link_to "Read more", restaurant_path(restaurant) %>
<% end %>
</ul>

<h3> <%= link_to "Add new restaurant", new_restaurant_path %> </h3>
